<div class="container" >
  <div class="row" style="margin-top:100px;margin-bottom:30px;">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12" >
      <div class="text-center">
          <h3 style="
          font-size: 50px;
          font-family: 'Roboto', sans-serif;margin-bottom:30px;margin-top:30px">
            Notre histoire
          </h3>
      </div>
      <img src="/professionnelsreunion.png" alt="" class="img-responsive">
    </div>
  </div>
</div>
<div class="container" >
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12" >
    <h3   class="content.about"style="font-family: 'Roboto', sans-serif; font-weight:100;">
      Dingaa est un site web qui facilite la recherche de professionnels
       dans le domaine du service à la personne
      à l'île de la reunion. <br> <br>

      En 2018, Jean-rodriguez kinouani travaillait dans une agence immobilière,
      qui à dur faire fasse à l'abondon de poste d'un de ces prestatiare car celui ci
      Djingaa qui veut dire "trouver, chercher".  <br>

    </h3>
    </div>
  </div>
</div>
