<div class="container" >
  <div class="row" style="margin-top:100px;margin-bottom:30px;">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12" >
      <div class="text-center">
          <h3 style="
          font-size: 50px;
          font-family: 'Roboto', sans-serif;margin-bottom:30px;margin-top:30px">
            Notre histoire
          </h3>
      </div>
      <img src="/professionnelsreunion.png" alt="" class="img-responsive">
    </div>
  </div>
</div>
<div class="container" >
  <div class="row"  style="margin-bottom:100px;">
    <div class="col-lg-8 col-lg-offset-2 col-xs-12" >
    <h3   class="content.about"style="font-family: 'Roboto', sans-serif; font-weight:lighter;">
      Dingaa est un site web qui facilite la recherche de professionnels
       dans le domaine du service à la personne
      à l'île de la reunion. <br> <br>

      En 2018, alors que<a href="https://twitter.com/jrkinouani" target="_blank"> Jean-rodriguez kinouani</a>, DG de Djingaa, travaille dans une agence immobilière,
      l'abondon de son poste par un prestataire chauffagiste, pour quelques jours, afin de travailler
       chez un autre client, lui a inspiré l'idée de créer une plate-forme de service
       à la personne basée sur le sérieux, la compétence et la qualité. <br> <br>
       Pour créer ce service qui rassurent le client sur les services à la personne,
       Djingaa  audintionne tous les professionnels qui souhaitent s'inscrire sur le site. <br><br>
       Comment trouver et embaucher des professionnels
       qui finissent le travail pour lequel ils ont été embauchés ? <br> <br>
       Et comment en tant que professionnel puis-je trouver de nouveaux clients. <br> <br>
      Un dernier mot, Djingaa veut dire "trouver, chercher" en Lari dialecte du Congo.  <br>

    </h3>
    </div>
  </div>
</div>
