<div class="container" id="#myImg">
  <div class="row">
    <div class="text-center">
      <h3 class="title_engagerunpro">Trouver le professionnel idéal pour vos travaux</h3>
      <h4 class="sous-text">Ne perdez plus de temps dans la recherche de professionnels <br>
        Djingaa selectionne pour vous les meilleurs experts <br> en trvaux et bricolage de l'île de la reunion
      </h4>
    </div>
  </div>
</div>
<main role="main" class="container">
   <a name="mon_ancre"></a>
  <div class="jumbotron">
    <h2 class="text-center">Comment engager un professionnel ?</h2>
    <div class="col-md-3">
      <div class="text-center">
        <i class="fas fa-file-alt"></i>
        <h3 class="text-comment"> <b class="numero">1.</b> <br> <br>Remplissez le formulaire de travaux</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
          <i class="fas fa-search"></i>
          <h3 class="text-comment"><b class="numero">2.</b> <br> <br>Nous vous envoyons les devis de professionels <br> auditionnés et sélectionnés </h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <i class="fas fa-calendar-check"></i>
        <h3 class="text-comment"><b class="numero" >3.</b> <br> <br>Vous validez le devis qui convient  <br>à ce que vous souhaitez réaliser comme travaux </h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <i class="fas fa-rocket"></i>
        <h3 class="text-comment"><b class="numero">4.</b> <br> <br>Dés que vous verser un premier paiement <br>le professionnel débute les travaux  </h3>
      </div>
    </div>

  </div>
</main>
