<div class="container" id="#myImg">
  <div class="row">
    <div class="text-center">
      <h3 class="title_engagerunpro">Trouver le professionnel idéal pour vos travaux</h3>
      <h4 class="sous-text">Ne perdez plus de temps dans la recherche de professionnels <br>
        Djingaa selectionne pour vous les meilleurs experts <br> en trvaux et bricolage de l'île de la reunion
      </h4>
    </div>
  </div>
</div>
<main role="main" class="container">
   <a name="mon_ancre"></a>
  <div class="jumbotron">
    <h2 class="text-center">Comment engager un professionnel ?</h2>
    <div class="col-md-4">
      <div class="text-center">
        <i class="fas fa-file-alt"></i>
        <h3 class="text-comment"> <b class="numero">1.</b> <br> <br>Remplissez le formulaire <br> de demande de devis</h3> <br> <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
      <i class="fas fa-envelope"></i>
        <h3 class="text-comment"> <b class="numero">2.</b> <br> <br>Djingaa envoie votre demande <br> de devis aux professionnels</h3><br> <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
      <i class="fas fa-map-marker-alt"></i>
        <h3 class="text-comment"> <b class="numero">3.</b> <br> <br>Les professionnels sélectionnés <br> reçoivent les coordonnées des clients</h3><br> <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
          <i class="fas fa-calendar-check"></i>
          <h3 class="text-comment"><b class="numero">4.</b> <br> <br>Les clients et professionnels conviennent d'un rendez-vous pour la visite de devis </h3>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <i class="fas fa-hands-helping"></i>
        <h3 class="text-comment"><b class="numero" >5.</b> <br> <br>Les clients et professionnels valident le devis</h3>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <i class="fas fa-euro-sign"></i>
        <!--<i class="fas fa-rocket"></i>-->
        <h3 class="text-comment"><b class="numero">6.</b> <br> <br>Dés que vous verser un premier paiement le professionnel débute sa mission  </h3>
      </div>
    </div>

  </div>
</main>
