<div class="container" id="#myImg">
  <div class="row">
    <div class="text-center">
      <h3 class="title_faq">Foire aux questions...en construction</h3>
    </div>
  </div>


  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Djingaa c'est quoi ?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Dingaa est un site web qui facilite la recherche de professionnels qualifiés, compétents et auditionnés dans le domaine du bricolage et des travaux à l'île de la reunion.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Les devis sont-ils gratuits ?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                  Les demandes de devis sur Djingaa sont gratuites. Le professionnel qui se déplace chez vous pour établir un devis ne vous facture que le déplacement à hauteur de 30 euros.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">  Comment sélectionner-vous les professionnels sur votre site ?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Tous les professinnels de Djingaa sont selectionnés et audiotionnés avec soin. <br>
                    Notre processus est le suivant: <br>
                    - Les professionnels remplissent un formulaire en ligne sur notre site <br>
                    - Ensuite nous vérifions le CV des professionnels en appelant d'anciens clients <br>
                    - Le professionnel passe un test de compétence noté dans son domaine pendant une demi journée ou journée sous le contrôle d'un professionnel plus chevronné<br>
                    - Un entretient physique est effectué entre notre équipe et le professionel pour savoir ces motivations <br>
                    - Validation de l'inscription si tous les critères sont respectés <br>
                    - Le professionel nous donne son K-bis, un certificat d’aptitude professionnelle et une attestation d’assurance
                </div>
            </div>
        </div>

        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Quels sont les sources de vos réponses ?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                </div>
            </div>
        </div>-->

</div>
</div>
