<div class="container" id="#myImg">
  <div class="row">
    <div class="text-center">
      <h3 class="title_faq">Foire aux questions</h3>
    </div>
  </div>


  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Djingaa c'est quoi ?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  Dingaa est une place de marché pour bricoleurs et professionnels du bâtiment
                  qui les mettent en relation avec des particuliers et des entreprise à l'île de la reunion.                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Les devis sont-ils gratuits ?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Les demandes de devis sur Djingaa sont gratuites.
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Quand le bricoleur est-il payé ?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Tant que la mission n’a pas eu lieu, votre argent est gardé sur un compte sécurisé.<br>
                  Dès que la mission est finie, donnez le code de validation au bricoleur qu'il entrera sur le site afin d'être rémunéré. Vous pourrez ensuite laisser votre avis sur le bricoleur et la prestation.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Que se passe-t-il une fois que j’ai envoyé ma demande ?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Le bricoleur reçoit votre demande. S'il est disponible, il accepte votre mission et vous pourrez convenir des détails en discutant avec lui.
                </div>
            </div>
        </div>
        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">  Comment sélectionner-vous les professionnels sur votre site ?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Tous les professinnels de Djingaa sont selectionnés et audiotionnés avec soin. <br>
                    Notre processus est le suivant: <br>
                    - Les professionnels remplissent un formulaire en ligne sur notre site <br>
                    - Ensuite nous vérifions le CV des professionnels en appelant d'anciens clients <br>
                    - Le professionnel passe un test de compétence noté dans son domaine pendant une demi journée ou journée sous le contrôle d'un professionnel plus chevronné<br>
                    - Un entretient physique est effectué entre notre équipe et le professionel pour savoir ces motivations <br>
                    - Validation de l'inscription si tous les critères sont respectés <br>
                    - Le professionel nous donne son K-bis, un certificat d’aptitude professionnelle et une attestation d’assurance
                </div>
            </div>
        </div>-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetwotwo">  Pourquoi les bricoleurs ne sont-ils pas tous au même tarif ?</a>
                </h4>
            </div>
            <div id="collapsetwotwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Les bricoleurs fixent librement leur tarif. Le site estime le prix de la prestation en fonction du temps que le bricoleur mettra à la réaliser.

                </div>
            </div>
        </div>

        <!--<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Quels sont les sources de vos réponses ?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    All prices for themes, templates and other items, including each seller's or buyer's account balance are in <strong>USD</strong>
                </div>
            </div>
        </div>-->

</div>
</div>
