<header class="masthead text-white text-center" style="background-image: url(/henry.jpg);height:600px;">
  <div class="container-fluid">
    <div class="row" id="content_value">
      <div class="col-xl-9 mx-auto">
          <span class="baseline">Nous vous trouvons vos futurs clients</span> <br>
        <h3 class="proposition_valeur_brico">Djingaa cherche pour vous vos futurs clients <br> Notre plateforme vous met en relation avec eux simplement.<br>Gagnez de l'argent en bricolant <br> quand vous voulez et ou vous voulez</h3>
      </div>
      <a href="https://jrkinouani.typeform.com/to/oZb57f" , class="btn btn-primary btn-lg">Je m'inscris</a>
       <%= button_to "Je m'inscris",  formulairepro_path, class: "btn btn-primary btn-lg", :method => :get,  style: "margin-bottom:180px"%>
    </div>
  </div>
</header>



</div>
<section>
  <div class="container-fluid" style="max-width: 1080px;">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="text-center" style="margin-top:80px;">
        <h3 class="how">Comment ça marche</h3>
        <ul style="display:inline">
          <li style="list-style:none;float:left;text-decoration:none">
            <img src="/number-one.png" alt="" class="img.how" >
          </li>
          <li style="list-style:none">
            <h4 class="text_how"> Travaillez où vous voulez, quand vous voulez, au prix que vous voulez en remplissant votre formulaire.</h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-offset-3 col-md-6">
      <div class="text-center" style="margin-top:100px;">
        <ul class="how-list "style="display:inline;">
          <li style="list-style:none;float:left;text-decoration:none">  <img src="/number-two.png" alt="" class="img.how" ></li>
          <li style="list-style:none">
            <h4 class="text_how">Djingaa vous envoie des devis, libre à vous  d'accepter ou non les missions. </h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-offset-3 col-md-6">
      <div class="text-center" style="margin-top:100px;">
        <ul class="how-list">
         <li style="list-style:none;float:left;text-decoration:none">
         <img src="/number-three.png" alt="" class="img.how">
         </li>
         <li style="list-style:none">
           <h4 class="text_how">Améliorez vos revenus : vous recevez vos gains sous 48h !</h4>
         </li>
        </ul>
      </div>
    </div>

  </div>
  </div>
</section>

<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h3 class="text-title-offre">Une offre unique pour tous les bricoleurs</h3>
        <h3 class="offre">Commencez avec un mois gratuit !</h3>

      </div>
      <div class="col-lg-offset-4 col-lg-4 ">

        <div class="card mb-5 mb-lg-0" style="padding-top:30px;padding-bottom:30px;background-color:#DCDCDC;">
          <div class="card-body">

            <h6 class="card-price text-center">99 €<span class="period">/mois</span></h6>
            <hr>
            <ul class="fa-ul">
              <li class="card-pay"><span class="fa-li"><i class="fas fa-check"></i></span>Recevez un nombre de devis illimités</li>
              <li class="card-pay"><span class="fa-li"><i class="fas fa-check"></i></span>Nous gérons le service après-vente</li>
              <li class="card-pay"><span class="fa-li"><i class="fas fa-check"></i></span>Vous êtes payé 48h après une mission</li>
              <li class="card-pay"><span class="fa-li"><i class="fas fa-check"></i></span>Garantie contre les impayés</li>
              <li class="card-pay"><span class="fa-li"><i class="fas fa-check"></i></span>Abonnement mensuel</li>
            </ul>
            <div class="text-center">
              <%= button_to "Je m'inscris",  formulairepro_path, class: "btn btn-primary btn-lg", :method => :get%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
