<div class="container">
  <div class="row" style="margin-top:250px;height:500px;">
    <div class="text-center">
      <h3 style="color:#19a197;;">Merci futur client !</h3> <br>
      <h4>Nous allons traiter au plus vite  <br>votre demande de devis à bientôt.</h4>

    </div>
    </div>
</div>
