<div class="container-fluid" id="myImg">
  <div class="row">
    <div class="text-center">
      <h1 class="title_mode">Mode d'emploi</h1>
      <h3 class="title_engagerunpro">Trouver le professionnel idéal pour vos travaux</h3>
      <h4 class="sous-text">Ne perdez plus de temps dans la recherche de professionnels <br>
        Djingaa selectionne pour vous les meilleurs experts <br> en travaux et bricolage de l'île de la reunion
      </h4>
    </div>
  </div>
</div>
<main role="main" class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:10px;">
        <ul style="display:inline">
          <li style="list-style:none;float:left;text-decoration:none">
            <img src="/number-one.png" alt="" class="img.how" >
          </li>
          <li style="list-style:none">
            <h4 class="text_how"> Je sélectionne une prestation et demande un devis</h4>
          </li>
        </ul>
          </div>
      </div>

      <div class="col-md-6" style="margin-top:10px;">
        <h3 class="text-desc-how">Renseignez votre besoin sur le site, nous sommes là pour vous guider et récupérer le maximum de détails.</h3>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:10px;">
        <ul style="display:inline">
          <li style="list-style:none;float:left;text-decoration:none">
            <img src="/number-two.png" alt="" class="img.how" >
          </li>
          <li style="list-style:none">
            <h4 class="text_how"> Nous transmettons votre demande à plusieurs bricolage près de chez vous</h4>
          </li>
        </ul>
          </div>
      </div>

      <div class="col-md-6" style="margin-top:10px;">
        <h3 class="text-desc-how">Une fois votre demande de dépannage faite, nous sélectionnons les meilleurs bricoleurs susceptible de répondre au mieux à votre demande.</h3>
      </div>
    </div>

      <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:10px;">
        <ul style="display:inline">
          <li style="list-style:none;float:left;text-decoration:none">
            <img src="/number-three.png" alt="" class="img.how" >
          </li>
          <li style="list-style:none">
            <h4 class="text_how"> Mise en relation clent/ bricoleur</h4>
          </li>
        </ul>
          </div>
      </div>

      <div class="col-md-6" style="margin-top:10px;">
        <div class="text-center">
        <h3 class="text-desc-how">Lorsque le bricoleur accepte la mission, et que vous accpete le devis. Nous vous débitons pour garantir le paiement au bricoleur et vous mettons en relation.</h3>
        </div>
      </div>
    </div>

      <hr>

    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:10px;">
        <ul style="display:inline">
          <li style="list-style:none;float:left;text-decoration:none">
            <img src="/number-three.png" alt="" class="img.how" >
          </li>
          <li style="list-style:none">
            <h4 class="text_how"> L’intervention est réalisée</h4>
          </li>
        </ul>
          </div>
      </div>

      <div class="col-md-6" style="margin-top:10px;">
        <div class="text-center">
        <h3 class="text-desc-how">Une fois la mission réalisée et satisfait du travail, nous déclenchons le paiement au bricoleur.</h3>
        </div>
      </div>
    </div>
  </div>
</main>
