<div class="container">
  <div class="row" style="margin-top:200px; margin-bottom:100px;">
    <div class="text-center">
      <h3 >MENTIONS LEGALES</h3>
    </div>
    <h3>Edition du site internet</h3>
    <h4 class="mentions">Djingaa est un site web qui appartient à la société Fewhourz.<br>
      47 rue François de Mahy Saint-Pierre 97410 <br>
      Représenttant légale: Monsieur Jean-rodriguez Kinouani <br>
      contact@djingaa.re <br>
      Tel: <br>
      SIRET : 51418347400030
    </h4>
    <br>
    <h3>DIRECTEUR DE LA PUBLICATION</h3>
    <h4 class="mentions">Monsieur Kinouani Jean-rodriguez</h4>

    <h3>HÉBERGEUR DU SITE INTERNET</h3>
    <h4 class="mentions">Le site www.djingaa.re est hébergé chez HEROKU.<br>
      2 rue KellermannThe Landmark @ 1 Market St.<br>
      Suite 300 <br>
      San Francisco, CA <br>
      94105 <br>
      </h4>
    <div class="text-center">
      <h3>Conditions générales de vente</h3>
    </div>


         <br> <br>
      <h3>Article 1 : Objet et dispositions générales </h3>

      1.1 La Société, par l’intermédiaire de son Site, a pour objectif de mettre en relation
       des Particuliers et ses Bricoleurs, en permettant aux Particuliers de solliciter gratuitement
      l’obtention d’un Devis et la réalisation d’une Prestation dans un ou plusieurs des domaines
      des travaux du bâtiment ou du bricolage.  <br> <br>

      1.2 Les présentes CGU ont pour objet de définir les modalités et conditions dans lesquelles,
      d’une part, la Société, met à la disposition de tout Utilisateur le Site et ses Services et,
      d’autre part, la manière par laquelle l’Utilisateur accède au site et utilise ses Services.
      Partant, les présentes CGU régissent tant l’accès, l’utilisation, les relations,
      à titre gratuit ou onéreux, à intervenir entre les Utilisateurs et la Société.  <br> <br>

      1.3 Les présentes CGU régissent toute Utilisation faite par tout Utilisateur ainsi que les Services
      proposés par la Société à l’exception des Prestations, en ce qu’elles sont exclusivement
      soumises aux conditions acceptées lors de l’émission du Devis par un Prestataire.
      La Société ne prend en aucun cas part à la relation contractuelle liant, le cas échéant,
      l’Utilisateur et un Prestataire.  <br> <br>

      1.4 Tout Utilisateur reconnaît avoir pris connaissance des présentes et les accepter sans réserve.
      Ces CGU peuvent faire l’objet de modifications. Dès lors, il est entendu que les stipulations
      applicables sont celles en vigueur sur le Site au moment de son Utilisation.
      Toute connexion au site est subordonnée à leur acceptation.  <br> <br>

      1.5 Les CGU sont opposables à l’Utilisateur à la date de son Utilisation du Site Internet ou
      des Services de la Société. Les CGU sont dès lors présumées lues et acceptées sans réserves.

      <br> <br>

<h3>Article 2 : CONDITIONS D’ACCES ET CREATION DE PROFIL</h3>
2.1 L’Utilisateur s’engage à avoir la pleine capacité juridique pour utiliser les Services : <br>

- Le Site est accessible gratuitement à tout utilisateur disposant d’un accès à internet.
Il constitue un site collaboratif ayant pour objet la mise en contact de Bricoleurs
 dans le cadre des missions de bricolage. Tous les logiciels et matériels nécessaires à
 l’utilisation ou au fonctionnement des Services du Site, ou l'accès à internet à
 l’exception des Services proposés directement sur le Site, sont à sa charge.
 Il est seul responsable du bon fonctionnement de son équipement informatique et de son accès à Internet.

Le Site se réserve la possibilité d'interrompre, de suspendre momentanément
ou de modifier sans préavis l'accès à tout ou partie du Site,
 afin d'en assurer la maintenance, ou pour toutes autres raisons, sans que
  l'interruption n'ouvre droit à aucune obligation ni indemnisation.

- S’agissant d’une personne physique, l’Utilisateur garantit avoir la majorité légale et
être autorisé à faire intervenir un Prestataire sur le lieu mentionné lors de la demande d’Intervention.
 À cet égard, la Société se réserve le droit, sans que cela ne constitue une obligation, d’en demander
la justification écrite à tout moment, et de procéder à toutes vérifications, ainsi que de refuser toute
 Intervention dans l’hypothèse où l’Utilisateur ne remettrait pas immédiatement ladite justification,
 ou éventuellement dans le délai qui lui serait imparti ; <br><br>


- L’Utilisateur garantit également pas être un concurrent de la Société et/ou ne pas utiliser
 le Service aux fins de la concurrencer, de manière frauduleuse et/ou de manière à nuire à ses intérêts. <br><br>
2.2 En tout état de cause, la Société décline toute responsabilité en cas d’utilisation du
Service par des Utilisateurs ne répondant pas aux conditions susmentionnées.

<h3>Article 3 : CONDITIONS D’ACCES ET CREATION DE PROFIL BRICOLEUR</h3>

L'accès à certains Services proposés par le Site nécessite une inscription en ligne pour les Bricoleurs.
  En s'enregistrant auprès du Site, le Bricoleur dispose d'un Identifiant strictement personnel composé
  d’une adresse électronique et d'un code confidentiel ne portant pas atteinte aux droits d’un tiers
  et qu'il s'engage à conserver confidentiel. Tout Bricoleur s'engage à fournir des informations exactes
   quant à son identité, adresse et autres données nécessaires à l'accès au Site,
    de nature à ne pas induire le Site ou les tiers en erreur,
    et à mettre à jour toute modification concernant ces informations.
    Il lui appartient de prendre toutes les dispositions nécessaires permettant
    de protéger ses propres données contre toutes atteintes.
    Il est également tenu de fournir une adresse électronique valide. <br><br>
  Parallèlement, le Site se doit de mettre en place tous les moyens dont il
    dispose pour garantir la sécurité et la confidentialité des données transmises.



<h3>Article 3 - Durée et résiliation</h3>
La durée de validité de l’inscription d’un Bricoleur au Site est indéterminée. <br><br>

Le Bricoleur reconnaît expressément que le Site peut, de plein droit,
sans préavis ni indemnité, résilier tout ou partie des Services fournis.
 Il pourra de son coté, décider à tout moment de supprimer son compte Personnel,
 en cliquant sur l’icône adaptée à cet effet sur le Site. <br><br>

Le Site pourra, de la même manière et sans préjudice de tous dommages
 et intérêts ou action à l’encontre d’un Super, résilier de plein droit ou
 suspendre, sans notification préalable, son Compte Personnel et procéder
 à sa désactivation en cas de violation(s) grave(s) et/ou répétée(s)
des stipulations des présentes Conditions Générales, notamment en cas de :
tentative de contournement du Site pour la facturation, fraudes aux moyens de paiement,
 tentative d'escroquerie ou toute autre infraction pénale.

<h3>Article 3.2 – MISE EN RELATION</h3>
Le Particulier effectue une recherche en renseignant la prestation qu’il souhaite faire effectuer,
le lieu d’intervention et les créneaux horaires auxquels il est disponible.
Une liste de bricoleurs dont les Profils ont été validés et correspondent aux
critères de la recherche du Particulier est envoyée au Particulier. <br><br>

Le Particulier envoie une demande de mission aux bricoleurs de son choix.
 De leur côté les bricoleurs acceptent ou refusent la demande.
 S’ils acceptent ils peuvent entrer en contact avec le Particulier
  pour discuter des modalités d’intervention et décider
  ou non d’un autre créneau horaire d’intervention. Le
  Particulier peut alors réserver le mission d’un Bricoleur en particulier
  en procédant au paiement. Tant que le Particulier n’a pas payé sur le Site,
  le Bricoleur n’est pas réservé.<br><br>

<!--<h3>Article 3.3 – Réservation par téléphone</h3>

Le processus de prise de rendez-vous, accessible par téléphone au numéro indiqué sur le Site, est le suivant:<br><br>

Etape 1 : Le Particulier contacte par téléphone le numéro du service client affiché sur
la page d’accueil du Site afin de planifier une intervention.<br><br>
Etape 2 : Le Particulier fournit par téléphone les informations détaillées ci-dessous.
Ces informations sont enregistrées dans nos systèmes informatiques.<br><br>
Le Particulier indique le moment souhaité de l’intervention: deux options s’offrent à lui.
Une intervention immédiate ou une prise de rendez-vous. Si l’Utilisateur souhaite prendre rendez-vous,
il a la possibilité de sélectionner une date ainsi qu’un ou plusieurs créneaux horaires.<br><br>
Le Particulier fournit une description la plus détaillée et précise du ou des problèmes rencontrés.<br><br>
Le Particulier fournit les informations nécessaires à son identification (nom, prénom, numéro de téléphone, adresse mail)<br><br>
Le Particulier fournit les informations relatives au lieu d’intervention et à son accès.<br><br>
Etape 3 : Le Particulier confirme avoir lu, compris et accepté les CGU les dispositions
légales applicables et relatives au droit de rétractation. Cette acceptation est nécessaire à
la mise en relation entre l’Utilisateur et le Prestataire.<br><br>
Etape 4 : Une fois la demande envoyée, l’Utilisateur reçoit à l’adresse mail indiquée une confirmation de commande.<br><br>
Etape 5 : La Société étudie la demande d’intervention. Si celle-ci est considérée comme réelle, motivée et sérieuse,
il affecte et transfère la demande d’intervention au dépanneur le plus à même de répondre au besoin mentionné
par le Client (proximité géographique, disponibilités, outils disponibles, créneau horaires, etc.).-->

<h3>Article 3.3 – RÉSERVATION ET PAIEMENT DU PARTICULIER</h3>

Le Site propose un service de réservation qui permet notamment de réduire les risques d’annulation
de dernière minute de la part d’un Particulier et de sécuriser le paiement de la transaction.
Le Particulier réserve un service lorsque lui et le Bricoleur se sont mis d’accord sur la date et
les modalités de la mission. Cette réservation s’effectue par le Particulier en payant la somme due
qui correspond à la rémunération du bricoleur <!--(le temps d’intervention estimé par
le Site multiplié par le tarif horaire du bricoleur sélectionné)--> à laquelle s’ajoute
les Frais de service du Site et l’assurance.
Ce paiement se fait au moyen d’une carte bancaire. La réception du paiement par
le Site constitue la confirmation de réservation. La somme est alors placée sur
le compte séquestre du Site. <br><br>

Le Particulier et le bricoleur sont informés que la transaction est irrévocablement conclue,
par un email envoyé au Particulier lui confirmant la réservation, et un email envoyé au Bricoleur
l'informant de la réservation. Toute annulation postérieure à cette confirmation
de réservation est encadrée par les modalités prévues dans l’article « rétractation et annulation ».
La réservation est nominative. Le Bricoleur doit correspondre à l’identité communiquée au Site.<br><br>

Le Bricoleur s'engage envers le Particulier à effectuer les missions qu'il a acceptés en réservation,
à la date, heure, et lieu convenus. <br><br>

Cette réservation permet par ailleurs au Particulier de s’assurer que le Bricoleur
ne pourra encaisser son argent que lorsque la prestation aura bien été effectuée et
confirmée par le Particulier.<br><br>


<h3>ARTICLE 4 – REALISATION-NOTATION DES MISSIONS ET PAIEMENT DU BRICOLEUR </h3>  <br>

4.1 – Réalisation et paiement du bricoleur<br> <br>

Après la réalisation de la mission le Bricoleur confirme au Site que la mission a
bien eu lieu en entrant le code de validation que le Particulier lui aura partagé dès que
la mission est finie. Si le Particulier n'est pas satisfait du résultat, celui ne doit pas partager
le code de validation et doit nous en informer sous 72h afin de bloquer le processus de paiement.
Dans ce cas un litige est ouvert et est traité selon les modalités détaillées dans
la partie « Litiges » des CGs.<br><br>



<h3>Article 5 : Report, annulation, ou incapacité à fournir le service</h3>

5.1 Si l’Utilisateur du service souhaite reporter ou annuler l’intervention,
il lui faut informer la Société dans les plus brefs délais et, en tout état de cause,
avant l’arrivée du Prestataire. Il peut envoyer un courrier électronique à l’adresse email suivante:
<!--contact@djingaa.re ou,
Remplir le formulaire de contact accessible à l’adresse suivante: https://www.bobdepannage.fr/contact/-->
5.2 La Société se charge de transmettre l’annulation de la commande auprès du ou
des Prestataires affectés à l’Intervention.<br><br>

<!--5.3 Si la Société est informée de l’annulation de la demande d’Intervention après
que le Prestataire arrive sur les lieux indiqués par l’Utilisateur,
ce dernier est dans l’obligation de l’indemniser pour le déplacement effectué.
Le montant de l’indemnisation lié au déplacement est forfaitaire et s’élève à 45,00€ (quarante-cinq euros) TTC.
Une facture faisant figurer le déplacement et
le montant payé sera remis à l’Utilisateur une fois le paiement effectué. <br><br>-->

5.4 Si malgré tous les efforts mis en oeuvre afin de satisfaire la Demande d’intervention de l’Utilisateur,
la Société n’est pas en mesure de trouver un Prestataire disponible afin réaliser
l’Intervention au moment souhaité par l’Utilisateur, ce dernier sera contacté par
la Société afin de l’informer de la non disponibilité et lui proposera,
le cas échéant, un créneau ultérieur. L’Utilisateur est libre d’accepter cette proposition. <br><br>

5.5 L’incapacité de la Société à proposer un Prestataire ou tout retard pour
l’Intervention d’un Prestataire ne pourra en aucun cas engager la responsabilité de la Société,
ni donner droit à des dommages et intérêts pour l’Utilisateur.



<h3>Article 6 : Estimation Tarifaire</h3>
6.1 Le Site permet à l’utilisateur d’obtenir une Estimation Tarifaire pour une liste non exhaustive
de problèmes fréquents dans le dépannage. Cette Estimation Tarifaire correspond aux tarifs
que la Société estime raisonnables. Cette Estimation Tarifaire est non contractuelle
et publiée uniquement à titre indicatif. Ils n’engagent ni la Société,
ni les Prestataires intervenant à la demande des Utilisateurs. <br><br>

6.2 Les Prestataires font néanmoins tout leur possible pour satisfaire l’Utilisateur en lui proposant
un Devis au plus proche de l’Estimation Tarifaire, sans toutefois pouvoir garantir que le prix
indiqué sur le Devis corresponde à celui de l’Estimation Tarifaire. <br><br>

<!--<h3>Article 7 : Devis</h3>  <br> <br>

7.1 Une fois le Prestataire sur place et une fois le diagnostic effectué,
celui-ci établit un Devis. Lorsque la Prestation est réalisable dans le cadre du forfait dépannage
comprenant une demi-heure de main d’œuvre, le montant du Devis correspond au montant du forfait soit
: 99,00€ (quatre-vingt dix neuf euros) TTC pour un particulier et 106,80€ (cent six euros et quatre-vingts centimes) TTC pour une entreprise.

7.2 Lorsque la Prestation n’est pas réalisable dans le cadre du forfait dépannage,
le Prestataire réalise le Devis correspondant aux travaux à effectuer. Dans tous les cas, la Prestation ne pourra débuter que lorsque le Devis sera accepté et signé par l’Utilisateur. À ce titre, l’Utilisateur reste libre d’accepter le Devis.

7.3 Seul le montant du Devis établi sur place par le Prestataire,
accepté et signé par l’Utilisateur fait foi.-->

<h3>Article 7 - Tarifs et paiement</h3>

7.1 Le Service de mise en relation entre l’Utilisateur et le Prestataire est gratuit.
Le montant du paiement doit correspondre au montant exact indiqué sur le Devis signé par
l’Utilisateur avant le début de la Prestation. <br> <br>

7.2 Le paiement de la Prestation s’effectue par un paiment de lUtilisateur au site djingaa, qui par la suite
veerse à son tour la totalié du peiment au Prestataire.<br><br>

7.3 Une fois la Prestation terminée, le client reçoit suite au paiement une facture.
Un exemplaire de cette facture est envoyé au client au plus tard 2 (deux) jours après la Prestation. <br><br>


<h3>Article 8. Responsabilités et obligations de la Société</h3>

8.1.1 La Société intervient exclusivement dans la mise en relation entre l’Utilisateur et le Prestataire.<br><br>

8.1.2 La Société décline toute responsabilité dans l’exécution du contrat entre le Prestataire
et l’Utilisateur du Service ayant accepté le Devis présenté par le Prestataire.
La responsabilité de la Société se limite à la prise et la transmission de la demande d’Intervention
au Prestataire.
<br><br>

8.1.3 La responsabilité des travaux réalisés ou de tout dommage causé lors de l’Intervention ou de
la Prestation n’engage que la responsabilité du Prestataire. <br><br>

8.1.4 La Société s’engage à sélectionner des Prestataires selon des critères de rapidité
et de qualité d’intervention, disposant des autorisations nécessaires pour exercer leur activité.<br><br>

8.1.5 La Société s’engage à exclure tout Prestataire qui ne répondrait pas à l’esprit du
Service proposé par ses soins. À ce titre, la Société contacte après chaque intervention
l’Utilisateur afin que celui-ci note la Prestation effectuée par le Prestataire.<br><br>

<h3> Article 8.2 Responsabilités et obligations de l’Utilisateur</h3>

8.2.1 L’Utilisateur s’engage à renseigner des informations exactes quant à son identité,
adresse et autres données nécessaires à la prise de commande et à
l’accès au lieu d’intervention (nom, prénom, adresse, numéro de téléphone, adresse mail, lieu de l’intervention),
ainsi qu’à mettre à jour toute modification concernant ses informations.<br><br>

8.2.2 Le refus de fournir une ou plusieurs informations obligatoires et nécessaires à
la réalisation de la Prestation aura pour effet de rendre nulle la demande d’intervention.<br><br>

8.2.3 Etant entendu que la Société assure uniquement la mise en relation entre l’Utilisateur
et le Prestataire et qu’elle n’est nullement liée à la relation commerciale entre les deux parties.
<!--l’Utilisateur accepte d’être contacté par le Prestataire par courrier électronique et / ou par téléphone afin de convenir des modalités de la Prestation.--> <!-- voir avec Mme charles -->

8.2.4 L’Utilisateur est seul responsable de la bonne réception des courriers électroniques
qui lui seront adressés via une adresse en « @djingaa.re »,
notamment en paramétrant sa messagerie électronique de telle sorte à ce que
les courriers électroniques expédiés depuis une adresse en « @djingaa.re »
soient correctement acheminés dans sa boite de réception. <br><br>

8.2.5 L’Utilisateur s’engage à donner accès aux lieux de l’Intervention au Prestataire.
<!--Si les motifs de la demande d’Intervention avaient disparu ou s’avèrent manifestement abusifs,
à l’appréciation du Prestataire, lorsque celui-ci intervient sur les lieux indiqués par l’Utilisateur,
ce dernier sera redevable de l’indemnisation de déplacement s’élevant à 45,00€ (quarante-cinq euros) TTC.-->
 <br> <br>
<h3>Article 9 : Protection des données personnelles</h3>
Conformément à la Loi Informatique et Libertés du 6 janvier 1978,
vous disposez des droits d’interrogation, d’accès, de modification,
d’opposition et de rectification sur les données personnelles vous concernant.
En adhérant à ces conditions générales de vente, vous consentez à ce que
nous collections et utilisions ces données pour la réalisation du présent contrat.
En saisissant votre adresse email sur l’un des sites de notre réseau, vous recevrez
des emails contenant des informations et des offres promotionnelles concernant
des produits édités par la Société et de ses partenaires. Vous pouvez vous désinscrire à tout instant.
Il vous suffit pour cela de cliquer sur le lien présent à la fin de nos emails ou de contacter
le responsable du traitement (la Société) par lettre RAR. Nous effectuons sur
l’ensemble de nos sites un suivi de la fréquentation. <br> <br>
<h3>Article 10 Clause limitative de responsabilité</h3>  <br>
Toutes les clauses figurant dans les présentes conditions générales de vente,
ainsi que toutes les opérations d’achat et de vente qui y sont visées,
seront soumises au droit français.

  </div>
</div>
