<div class="container">
  <div class="row" style="margin-top:200px; margin-bottom:100px;">
    <div class="text-center">
      <h3 >MENTIONS LEGALES</h3>
    </div>
    <h3>Edition du site internet</h3>
    <h4 class="mentions">Djingaa est un site web qui appartient à la société Fewhourz.<br>
      47 rue François de Mahy Saint-Pierre 97410 <br>
      Représenttant légale: Monsieur Jean-rodriguez Kinouani <br>
      contact@djingaa.re <br>
      Tel: <br>
      SIRET : 51418347400030
    </h4>
    <br>
    <h3>DIRECTEUR DE LA PUBLICATION</h3>
    <h4 class="mentions">Monsieur Kinouani Jean-rodriguez</h4>

    <h3>HÉBERGEUR DU SITE INTERNET</h3>
    <h4 class="mentions">Le site www.djingaa.re est hébergé chez HEROKU.<br>
      2 rue KellermannThe Landmark @ 1 Market St.<br>
      Suite 300 <br>
      San Francisco, CA <br>
      94105 <br>
      </h4>
    <div class="text-center">
      <h3>Conditions générales de vente</h3>
    </div>


         <br> <br>
      <h3>Article 1 : Objet et dispositions générales </h3>

      1.1 La Société, par l’intermédiaire de son Site, a pour objectif de mettre en relation
       des Particuliers et ses Bricoleurs, en permettant aux Particuliers de solliciter gratuitement
      l’obtention d’un Devis et la réalisation d’une Prestation dans un ou plusieurs des domaines
      des travaux du bâtiment ou du bricolage.  <br> <br>

      1.2 Les présentes CGU ont pour objet de définir les modalités et conditions dans lesquelles,
      d’une part, la Société, met à la disposition de tout Utilisateur le Site et ses Services et,
      d’autre part, la manière par laquelle l’Utilisateur accède au site et utilise ses Services.
      Partant, les présentes CGU régissent tant l’accès, l’utilisation, les relations,
      à titre gratuit ou onéreux, à intervenir entre les Utilisateurs et la Société.  <br> <br>

      1.3 Les présentes CGU régissent toute Utilisation faite par tout Utilisateur ainsi que les Services
      proposés par la Société à l’exception des Prestations, en ce qu’elles sont exclusivement
      soumises aux conditions acceptées lors de l’émission du Devis par un Prestataire.
      La Société ne prend en aucun cas part à la relation contractuelle liant, le cas échéant,
      l’Utilisateur et un Prestataire.  <br> <br>

      1.4 Tout Utilisateur reconnaît avoir pris connaissance des présentes et les accepter sans réserve.
      Ces CGU peuvent faire l’objet de modifications. Dès lors, il est entendu que les stipulations
      applicables sont celles en vigueur sur le Site au moment de son Utilisation.
      Toute connexion au site est subordonnée à leur acceptation.  <br> <br>

      1.5 Les CGU sont opposables à l’Utilisateur à la date de son Utilisation du Site Internet ou
      des Services de la Société. Les CGU sont dès lors présumées lues et acceptées sans réserves.

      <br> <br>

<h3>Article 2 : CONDITIONS D’ACCES ET CREATION DE PROFIL</h3>
2.1 L’Utilisateur s’engage à avoir la pleine capacité juridique pour utiliser les Services : <br>

- Le Site est accessible gratuitement à tout utilisateur disposant d’un accès à internet.
Il constitue un site collaboratif ayant pour objet la mise en contact de Bricoleurs
 dans le cadre des missions de bricolage. Tous les logiciels et matériels nécessaires à
 l’utilisation ou au fonctionnement des Services du Site, ou l'accès à internet à
 l’exception des Services proposés directement sur le Site, sont à sa charge.
 Il est seul responsable du bon fonctionnement de son équipement informatique et de son accès à Internet.

Le Site se réserve la possibilité d'interrompre, de suspendre momentanément
ou de modifier sans préavis l'accès à tout ou partie du Site,
 afin d'en assurer la maintenance, ou pour toutes autres raisons, sans que
  l'interruption n'ouvre droit à aucune obligation ni indemnisation.

- S’agissant d’une personne physique, l’Utilisateur garantit avoir la majorité légale et
être autorisé à faire intervenir un Prestataire sur le lieu mentionné lors de la demande d’Intervention.
 À cet égard, la Société se réserve le droit, sans que cela ne constitue une obligation, d’en demander
la justification écrite à tout moment, et de procéder à toutes vérifications, ainsi que de refuser toute
 Intervention dans l’hypothèse où l’Utilisateur ne remettrait pas immédiatement ladite justification,
 ou éventuellement dans le délai qui lui serait imparti ; <br><br>


- L’Utilisateur garantit également pas être un concurrent de la Société et/ou ne pas utiliser
 le Service aux fins de la concurrencer, de manière frauduleuse et/ou de manière à nuire à ses intérêts. <br><br>
2.2 En tout état de cause, la Société décline toute responsabilité en cas d’utilisation du
Service par des Utilisateurs ne répondant pas aux conditions susmentionnées.

<h3>Article 3 : CONDITIONS D’ACCES ET CREATION DE PROFIL BRICOLEUR</h3>

L'accès à certains Services proposés par le Site nécessite une inscription en ligne pour les Bricoleurs.
  En s'enregistrant auprès du Site, le Bricoleur dispose d'un Identifiant strictement personnel composé
  d’une adresse électronique et d'un code confidentiel ne portant pas atteinte aux droits d’un tiers
  et qu'il s'engage à conserver confidentiel. Tout Bricoleur s'engage à fournir des informations exactes
   quant à son identité, adresse et autres données nécessaires à l'accès au Site,
    de nature à ne pas induire le Site ou les tiers en erreur,
    et à mettre à jour toute modification concernant ces informations.
    Il lui appartient de prendre toutes les dispositions nécessaires permettant
    de protéger ses propres données contre toutes atteintes.
    Il est également tenu de fournir une adresse électronique valide. <br><br>
  Parallèlement, le Site se doit de mettre en place tous les moyens dont il
    dispose pour garantir la sécurité et la confidentialité des données transmises.



<h3>Article 3 - Durée et résiliation</h3>
La durée de validité de l’inscription d’un Bricoleur au Site est indéterminée. <br><br>

Le Bricoleur reconnaît expressément que le Site peut, de plein droit,
sans préavis ni indemnité, résilier tout ou partie des Services fournis.
 Il pourra de son coté, décider à tout moment de supprimer son compte Personnel,
 en cliquant sur l’icône adaptée à cet effet sur le Site. <br><br>

Le Site pourra, de la même manière et sans préjudice de tous dommages
 et intérêts ou action à l’encontre d’un Bricoleurs, résilier de plein droit ou
 suspendre, sans notification préalable, son Compte Personnel et procéder
 à sa désactivation en cas de violation(s) grave(s) et/ou répétée(s)
des stipulations des présentes Conditions Générales, notamment en cas de :
tentative de contournement du Site pour la facturation, fraudes aux moyens de paiement,
 tentative d'escroquerie ou toute autre infraction pénale.

<h3>Article 3.2 – MISE EN RELATION</h3>
Le Particulier effectue une recherche en renseignant la prestation qu’il souhaite faire effectuer,
le lieu d’intervention et les créneaux horaires auxquels il est disponible.
Une liste de bricoleurs dont les Profils ont été validés et correspondent aux
critères de la recherche du Particulier est envoyée au Particulier. <br><br>

Le Particulier envoie une demande de mission aux bricoleurs de son choix.
 De leur côté les bricoleurs acceptent ou refusent la demande.
 S’ils acceptent ils peuvent entrer en contact avec le Particulier
  pour discuter des modalités d’intervention et décider
  ou non d’un autre créneau horaire d’intervention. Le
  Particulier peut alors réserver le mission d’un Bricoleur en particulier
  en procédant au paiement. Tant que le Particulier n’a pas payé sur le Site,
  le Bricoleur n’est pas réservé.<br><br>

<!--<h3>Article 3.3 – Réservation par téléphone</h3>

Le processus de prise de rendez-vous, accessible par téléphone au numéro indiqué sur le Site, est le suivant:<br><br>

Etape 1 : Le Particulier contacte par téléphone le numéro du service client affiché sur
la page d’accueil du Site afin de planifier une intervention.<br><br>
Etape 2 : Le Particulier fournit par téléphone les informations détaillées ci-dessous.
Ces informations sont enregistrées dans nos systèmes informatiques.<br><br>
Le Particulier indique le moment souhaité de l’intervention: deux options s’offrent à lui.
Une intervention immédiate ou une prise de rendez-vous. Si l’Utilisateur souhaite prendre rendez-vous,
il a la possibilité de sélectionner une date ainsi qu’un ou plusieurs créneaux horaires.<br><br>
Le Particulier fournit une description la plus détaillée et précise du ou des problèmes rencontrés.<br><br>
Le Particulier fournit les informations nécessaires à son identification (nom, prénom, numéro de téléphone, adresse mail)<br><br>
Le Particulier fournit les informations relatives au lieu d’intervention et à son accès.<br><br>
Etape 3 : Le Particulier confirme avoir lu, compris et accepté les CGU les dispositions
légales applicables et relatives au droit de rétractation. Cette acceptation est nécessaire à
la mise en relation entre l’Utilisateur et le Prestataire.<br><br>
Etape 4 : Une fois la demande envoyée, l’Utilisateur reçoit à l’adresse mail indiquée une confirmation de commande.<br><br>
Etape 5 : La Société étudie la demande d’intervention. Si celle-ci est considérée comme réelle, motivée et sérieuse,
il affecte et transfère la demande d’intervention au dépanneur le plus à même de répondre au besoin mentionné
par le Client (proximité géographique, disponibilités, outils disponibles, créneau horaires, etc.).-->

<h3>Article 3.3 – RÉSERVATION ET PAIEMENT DU PARTICULIER</h3>

Le Site propose un service de réservation qui permet notamment de réduire les risques d’annulation
de dernière minute de la part d’un Particulier et de sécuriser le paiement de la transaction.
Le Particulier réserve un service lorsque lui et le Bricoleur se sont mis d’accord sur la date et
les modalités de la mission. Cette réservation s’effectue par le Particulier en payant la somme due
qui correspond à la rémunération du bricoleur <!--(le temps d’intervention estimé par
le Site multiplié par le tarif horaire du bricoleur sélectionné)--> à laquelle s’ajoute
les Frais de service du Site et l’assurance.
Ce paiement se fait au moyen d’une carte bancaire. La réception du paiement par
le Site constitue la confirmation de réservation. La somme est alors placée sur
le compte séquestre du Site. <br><br>

Le Particulier et le bricoleur sont informés que la transaction est irrévocablement conclue,
par un email envoyé au Particulier lui confirmant la réservation, et un email envoyé au Bricoleur
l'informant de la réservation. Toute annulation postérieure à cette confirmation
de réservation est encadrée par les modalités prévues dans l’article « rétractation et annulation ».
La réservation est nominative. Le Bricoleur doit correspondre à l’identité communiquée au Site.<br><br>

Le Bricoleur s'engage envers le Particulier à effectuer les missions qu'il a acceptés en réservation,
à la date, heure, et lieu convenus. <br><br>

Cette réservation permet par ailleurs au Particulier de s’assurer que le Bricoleur
ne pourra encaisser son argent que lorsque la prestation aura bien été effectuée et
confirmée par le Particulier.<br><br>


<h3>ARTICLE 4 – REALISATION-NOTATION DES MISSIONS ET PAIEMENT DU BRICOLEUR </h3>  <br>

4.1 – Réalisation et paiement du bricoleur<br> <br>

Après la réalisation de la mission le Bricoleur confirme au Site que la mission a
bien eu lieu en entrant le code de validation que le Particulier lui aura partagé dès que
la mission est finie. Si le Particulier n'est pas satisfait du résultat, celui ne doit pas partager
le code de validation et doit nous en informer sous 72h afin de bloquer le processus de paiement.
Dans ce cas un litige est ouvert et est traité selon les modalités détaillées dans
la partie « Litiges » des CGs.<br><br>

Le paiement du bricoleur correspond au montant payé par le Particulier
 diminué des Frais de service du Site et du coût de l’assurance.<br><br>

 Le Site n'est en aucun cas responsable ou garant à l'égard du bricoleur
  d'un incident de paiement si, pour quelque cause que ce soit,
  la somme payée par le Particulier venait à devoir être reversée notamment
  en cas d'opposition sur la carte ou d'utilisation frauduleuse.
  Le bricoleur s'oblige à restituer au Site à première demande toute somme
   reçue remise en cause du fait d'un tel incident de paiement.<br><br>

<h3>4.3 – Les engagements des différentes parties prenantes</h3><br><br>

Le bricoleur s’engage à : <br><br>

- se conformer aux obligations légales et fiscales liées à son usage du Site.<br>
- avoir un Profil complet avec tous les documents officiels demandés, sous peine de non validation de son Profil par le Site.<br>
- effectuer un travail honnête, de qualité et respectueux des délais convenus avec le Client et estimés par le Site.<br>
- à exécuter les missions en personne, son identité ayant été déclarée au Site. En aucun cas, il n’est autorisé à sous-traiter la réalisation de missions
 se faire rémunérer les missions trouvées par l’intermédiaire du Site uniquement via le Site.<br>
- ne pas fournir ses coordonnées personnelles et à communiquer avec le Client via la messagerie interne du Site jusqu’à la réservation de la mission.<br> <br>

A défaut de respecter l’un de ces engagements, le bricoleur s’expose à une exclusion du Site. <br><br>

Le Client s’engage à :<br><br>

aire preuve de bonne foi, que ce soit lors du déroulé des missions, au moment de réceptionner la mission, de confirmer que la mission a bien eu lieu ou lors de la notation du bricoleur.<br>
rémunérer le bricoleur trouvé par l’intermédiaire du Site uniquement via le Site.<br>
ne pas fournir ses coordonnées personnelles et à communiquer avec le bricoleur via la messagerie interne du Site jusqu’à la réservation de la mission.<br><br>

Le Site s’engage à :<br><br>

agir en intermédiaire de confiance entre bricoleurs et  et à ne pratiquer ni discrimination ni favoritisme.<br>
effectuer des transactions bancaires sécurisées et transparentes et à ne pas conserver les informations bancaires.<br>
assurer les dommages que pourrait occasionner le Bricoleur lors de la réalisation de la mission organisée via le Site.<br><br>

<b>Les prestations sont réalisées par les bricoleurs sous leur entière responsabilité. Tenus par une obligation de moyen, ils s’engagent à remplir la mission postée par le demandeur de service en mettant en œuvre toutes leurs connaissances et leur bonne volonté.

</b><br><br>

<b>En aucun cas le Site ne peut être considéré comme donneur d’ordre, comme employeur ou comme prestataire. Le Site n’est pas garant de la bonne réalisation des missions.

</b><br><br>

<h3>ARTICLE 5 – RETRACTATION et ANNULATION</h3><br><br>

<h3>5.1 – Rétractation</h3><br><br>


Conformément aux dispositions du Code de la Consommation,
le Client contractant en ligne bénéficie, dans certaines situations, d’un droit de rétractation.
En utilisant notre Site internet c’est-à-dire en validant la mission et en payant
le montant de la prestation, le Client donne son accord et renonce expressément
à son droit de rétractation légale comme le prévoient les dispositions du code de la Consommation.<br><br>

Toutefois le Client pourra annuler et être remboursé dans certaines situations dont les modalités sont prévues dans les présentes conditions générales.<br><br>


<h3>5.2 – Annulation</h3><br><br>

Le Client comme le bricoleur sont en droit d’annuler la mission. <br>
Il convient de distinguer les situations en fonction de l’auteur de l’annulation.<br><br>

<h3>5.2.1 Annulation par le Client</h3><br><br>

<h3>5.2.1.1 Le Client annule avant que le bricoleur ait entré le code de validation</h3><br><br>

En cas d’exercice du droit d’annulation du Client sur une réservation avant que le code de
validation ne soit entré par le bricoleur, le Site s’engage à rembourser sans délai
le Client sur la prestation réservée correspondante, sans retard excessif au
plus tard dans les trente jours suivants la date à laquelle ce droit a été exercé,
sous réserve que la mission n'ait pas été réalisée par le bricoleur. Au-delà,
la somme due est, de plein droit, productive d’intérêts au taux légal en vigueur.
Le bricoleur n’est pas payé et ne peut exiger aucune compensation financière.<br><br>

<h3>5.2.1.2 Le Client annule après que le bricoleur ait entré le code de validation</h3><br><br>

En cas d’annulation de la mission par le Client après que le code de validation soit entré par le bricoleur, le coût de la mission est définitivement perdu pour le Client. Le bricoleur perçoit un dédommagement de 100% du montant de sa mission et les Frais de service sont dus au Site.

<br><br>

Le Client peut contester cette décision en la justifiant. Dans ce cas un litige est ouvert et est traité selon les modalités détaillées dans la partie « Litiges » des CGs.<br><br>

<h3>5.2.2 Annulation par le bricoleur</h3> <br><br>

Le bricoleur peut proposer un report de son intervention au Client. Dans le cas où les deux parties ne parviennent pas à se mettre d’accord sur un nouveau créneau, le bricoleur peut annuler son intervention à tout moment en nous contactant par téléphone ou email. Le bricoleur ne pourra demander aucune rétribution financière et le Client est remboursé intégralement.

<br><br>

Une telle annulation sera examinée soigneusement et enregistré par le Site. Une annulation ne peut en aucun cas être un moyen d’éviter le Site pour la facturation. A défaut de respecter cet engagement, le bricoleur s’expose à une exclusion du Site.
<br><br>

<h3>ARTICLE 6 – COMPLICATIONS</h3><br><br>

<h3>6.1 – Les malfaçons
</h3><br><br>
En cas de litige, le bricoleur et le Client sont invités à échanger de manière courtoise en faisant preuve de bonne foi et d’honnêteté pour trouver un arrangement à leur différent.
<br><br>
Les missions effectuées résultant exclusivement de l'accord intervenu entre le bricoleur et le Client, les utilisateurs du service agissent sous leur seul et entière responsabilité. A ce titre, le déroulement dans de bonnes conditions du service ne saurait entraîner de responsabilité imputable au Site, sur quelque fondement que ce soit, le service proposé par le Site étant un service d'intermédiation. En particulier en cas de malfaçon, le Client ne peut exiger une compensation financière pour les missions. Le Site n’est aucunement garant de la qualité ni même de la réalisation des missions.<br><br>

<h3>6.2 – Litige</h3><br><br>
Le Site met à disposition des Particuluers et des bricoleurs un service de règlement des litiges. Toute notification d’un Bricoleurs, pour être recevable, devra être détaillée, indiquer clairement les raisons de l'insatisfaction et être transmise au Site par lettre simple, par e-mail ou via son compte Personnel. La responsabilité des parties ne pourra être engagée pour tout retard ou inexécution lorsqu’ils sont liés à un cas de force majeure, telle que définie par les textes ou, plus généralement, par la jurisprudence constante.<br><br>

Le service de règlement des litiges n'a pas d'obligation de résultat quant à trouver une solution aux litiges entre ses Particuluersarticuluers et les bricoleurs. Si aucune solution n'est trouvée au litige opposant le Client au bricoleur, le Site se réserve le droit de retenir les sommes payées par le Client jusqu'à un accord amiable entre le Client et le bricoleur ou une décision judiciaire définitive.

<br><br>
<h3>6.3 – Assurance Responsabilité Civile du bricoleur</h3>
<br><br>
Dans le cadre de son partenariat avec Allianz, le Site couvre les dommages que pourrait engendrer le bricoleur dans l’accomplissement de sa mission dans le cadre d’un contrat en responsabilité civile.<br><br>

Cette assurance est obligatoire et couvre l’ensemble des missions réalisées dans le cadre du Site.<br><br>

Une franchise s’applique lors de toute prise en charge de sinistre.<br><br>

Les dommages subis par le bricoleur ne sont pas couverts par cette assurance.
Le bricoleur est donc invité à vérifier son propre niveau de protection et à souscrire éventuellement des garanties complémentaires.
<br><br>
Nous vous conseillons donc fortement de garder une traçabilité de vos échanges avec
les autres utilisateurs du site.<br><br>

<h3>ARTICLE 7 – MODALITÉS DE REMBOURSEMENT</h3><br><br>
Le Site procèdera à tout remboursement en utilisant le même moyen de paiement que celui que celui utilisé par le Client pour la transaction initiale.
<br><br>
Chaque remboursement, pour quelque motif que ce soit, résultat ou non d’un litige sur le service, sera effectué par l’intermédiaire du Site, qui sera en droit de le refuser.
<br><br>
En cas de remboursements accordés au Client, le Site s’engage à le rembourser sous 72 heures sans retard excessif au plus tard dans les sept jours suivants la date à laquelle ce droit a été accordé. Au-delà, la somme due est, de plein droit, productive d’intérêts au taux légal en vigueur
<br><br>

<h3>ARTICLE 8 – PROPRIETE INTELLECTUELLE</h3><br><br>
L'ensemble des éléments constituant le Site (textes, graphismes, logiciels, photographies, images, vidéos, sons, plans, noms, logos, marques, créations et œuvres protégeables diverses, bases de données, etc..) ainsi que le Site lui-même, relèvent des législations françaises et internationales sur le droit d'auteur et sur les droits voisins.<br><br>
Ces éléments sont la propriété exclusive du Site, hormis les éléments réalisés par des intervenants extérieurs au Site, n'ayant pas cédé leurs droits d'auteur.

<br><br>
Toute utilisation non expressément autorisée d'éléments du Site entraîne une violation des droits d'auteur ou de tous autres droits et réglementations en vigueur et constitue une contrefaçon.

<br><br>
Sauf accord préalable écrit du Site, le Bricoleurs s’engage à ne pas modifier, copier, reproduire, republier, télécharger, mettre en ligne, transmettre, vendre ou distribuer de quelque manière que ce soit, sur un autre serveur ou dans un autre lieu, le contenu mis à sa disposition par le Site.<br><br>
Dans l’hypothèse où les photos utilisées dans le Profil du Bricoleurs ont été prises par le Site lui-même en accord avec le Bricoleurs, elles contribuent au contenu exclusif du Site. Tout contenu posté sur le Site par le Bricoleurs est mis à la disposition du site qui s’autorise à le modérer, l'utiliser et le diffuser dans le cadre de sa communication sur les réseaux sociaux ou sur d'autres supports visuels (sauf demande explicite du Bricoleurs).<br><br>

<br><br>
L’autorisation de reproduction n’est concédée au Bricoleurs que sous forme numérique sur l’ordinateur aux fins de visualisation des pages consultées par le logiciel de navigation du Site.

<br><br>

<h3>ARTICLE 9 - DENI DE GARANTIE ET EXCLUSIONS DE RESPONSABILITE
</h3><br><br>
<h3>9.1 – Concernant le service lui-même</h3><br><br>
Le Site n'accepte aucune responsabilité d'aucune sorte en ce qui concerne :<br><br>

e niveau de compétence du bricoleur <br>
les antécédents du bricoleur <br>
l’identification de la mission proposée <br>
la qualité de la prestation réalisée <br> <br>

<h3>9.2 – Concernant l’accès aux services du Site</h3> <br><br>

Le Site n'accepte aucune responsabilité d'aucune sorte en ce qui concerne l’accès à ses Services,
fournis «tels quels», sans aucune garantie. La société exclut expressément et dans toute
la mesure permise par les lois applicables toutes garanties explicites, implicites et légales. <br><br>

Le Site exclut toutes garanties en matière de sécurité, de fiabilité, d'opportunité et
de performance de ses Services et notamment pour : <br><br>
les dommages susceptibles de résulter du téléchargement ou de l'utilisation des informations ou des données disponibles sur Internet via les Services de ce Site, tels que dommages causés sur les systèmes informatiques, pertes de données ; <br><br>
la forme ou le contenu des informations mises en ligne sur ses espaces par le Bricoleurs.<br><br>

Ces limites de responsabilité s'appliqueront de manière à empêcher les demandes de dommages-intérêts
 directs ou indirects, incidents, quelle que soit la cause desdits dommages
 (y compris dommages subis par des tierces parties). <br><br>

Dans le cas où la responsabilité du Site serait recherchée en raison d’un manquement par
un Bricoleurs aux obligations qui lui incombent aux termes de la loi ou des présentes C.G.,
ce dernier s’engage à garantir le Site contre toute condamnation prononcée à son encontre,
cette garantie couvrant tant les indemnités qui seraient éventuellement versées que les frais. <br><br>

<h3>ARTICLE 10 - DECLARATIONS DONNEES PERSONNELLES</h3><br><br>
En remplissant le formulaire d’inscription le Bricoleurs donne son consentement exprès à la création par le Site d’un fichier permettant la conservation des données renseignées.

 <br><br>

 Conformément à la Loi Informatique et Libertés du 6 janvier 1978,
 vous disposez des droits d’interrogation, d’accès, de modification,
 d’opposition et de rectification sur les données personnelles vous concernant.
 En adhérant à ces conditions générales de vente, vous consentez à ce que
 nous collections et utilisions ces données pour la réalisation du présent contrat.
 En saisissant votre adresse email sur l’un des sites de notre réseau, vous recevrez
 des emails contenant des informations et des offres promotionnelles concernant
 des produits édités par la Société et de ses partenaires. Vous pouvez vous désinscrire à tout instant.
 Il vous suffit pour cela de cliquer sur le lien présent à la fin de nos emails ou de contacter
 le responsable du traitement (la Société) par lettre RAR. Nous effectuons sur
 l’ensemble de nos sites un suivi de la fréquentation. <br> <br>
 <h3>ARTICLE 11 - Clause limitative de responsabilité</h3>  <br>
 Toutes les clauses figurant dans les présentes conditions générales de vente,
 ainsi que toutes les opérations d’achat et de vente qui y sont visées,
 seront soumises au droit français.
<br><br>

<h3>ARTICLE 12 - DROIT APPLICABLE</h3><br><br>

Les présentes Conditions Générales sont régies par le droit français.
Elles sont rédigées en langue française. Dans le cas où elles seraient
traduites en une ou plusieurs langues, seul le texte français
ferait foi en cas de litige. <br><br>

Le fait qu'une clause quelconque des Conditions Générales devienne nulle,
inopposable, caduque, illégale ou inapplicable du fait d'une loi,
d'un règlement ou à la suite d'une décision de justice,
ne pourra remettre en cause la validité, la légalité,
l'applicabilité des autres stipulations des C.G. et n'exonérera pas le Bricoleur
de l'exécution de ses obligations contractuelles non invalidées.<br><br>

En application de l’article L 141-5 du Code de la Consommation, le consommateur peut saisir à son choix, outre l'une des juridictions territorialement compétentes en vertu du code de procédure civile, la juridiction du lieu où il demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable.
  </div>
</div>
