<!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Nos pros s'occupent de vos travaux !</h1>
          </div>
          <div class="text-center">
            <div class="col-md-6 col-lg-8 col-xl-7 ">
            <form>
              <div class="form-row">
                <div class="col-lg-6 col-lg-offset-3 col-md-9 mb-2 ">
                  <input type="email" class="form-control" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </header>
