<!-- Masthead -->
<header class="masthead text-white text-center">

  <div class="container-fluid">
    <div class="row" id="content_value">
      <div class="col-xl-9 mx-auto">
        <span class="baseline">Trouvez les experts  <br>pour vos travaux  <br>à la Reunion<!--Relaxez-vous, <br>on recrute  pour vous</span> <br>-->
        <!--<span class="baseline_next hidden-xs">les meilleurs professionnels <br> du bâtiment à la Reunion </span>-->
        <h3 class="proposition_valeur"><!--Trouvez les experts pour vos travaux à la Reunion, <br> c’est notre métier. <br>
           Leur proposer des travaux à réaliser, c’est votre mission.-->
        </h3>
      </div>
       <%= button_to "Faites un devis, c'est gratuit !", new_estimate_path, class: "btn btn-primary btn-lg", :method => :get  %>
       <!--<h3 class="proposition_valeur">Trouvez les experts pour réaliser vos travaux  <br>à la Reunion, c’est notre métier. <br>
          Leur proposer des travaux à réaliser, c’est votre mission.
       </h3>-->
    </div>
  </div>
</header>

<div class="demo11">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="pricingTable11">
                            <img src="/icon.png" alt="" class="icon">
                            <!--<div class="pricingTable-header">
                                <i class="fa fa-adjust"></i>
                                <div class="price-value"> $10.00 <span class="month">per month</span> </div>
                            </div>-->
                            <h3 class="heading">Bricolage & rénovation</h3>
                            <!--<div class="pricing-content">
                              <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                            </div>-->
                            <div class="pricingTable-signup">
                              <a href="#">Obtenir un devis</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                              <img src="/power-cord.png" alt=""class="icon">
                              <h3 class="heading">Electricité & installation</h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                  <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>
                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                              <img src="/washingmachine.png" alt="" class="icon">
                              <h3 class="heading">electromenager & Climatisation</h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>

                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                              <img src="/swimmingpool.png" alt="" class="icon">
                              <h3 class="heading">Piscine  <br>et jardin</h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                    <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>
                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                            <img src="/door.png" alt="" class="icon">

                              <h3 class="heading">Serrurerie, portes et fenêtres </h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                  <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>
                  <div class="col-md-2 col-sm-6">
                        <div class="pricingTable11 red" class="icon">
                          <img src="/tap00.png" alt="">
                            <h3 class="heading">PLOMBERIE & CHAUFFAGE</h3>
                            <!--<div class="pricing-content">
                                <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                            </div>-->
                            <div class="pricingTable-signup">
                                <a href="#">Obtenir un devis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

<!--<main role="main" class="container">
   <a name="mon_ancre"></a>
  <div class="jumbotron">
    <h2 class="text-center">Comment engager un professionnel ?</h2>
    <div class="col-md-4">
      <div class="text-center">
        <i class="fas fa-file-alt"></i>
        <h3 class="text-comment"> <b class="numero">1.</b> <br> <br>Remplissez le formulaire <br> de demande de devis</h3> <br> <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
      <i class="fas fa-envelope"></i>
        <h3 class="text-comment"> <b class="numero">2.</b> <br> <br>Djingaa envoie votre demande <br> de devis aux professionnels</h3><br> <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
      <i class="fas fa-map-marker-alt"></i>
        <h3 class="text-comment"> <b class="numero">3.</b> <br> <br>Les professionnels sélectionnés <br> reçoivent les coordonnées des clients</h3><br> <br>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
          <i class="fas fa-calendar-check"></i>
          <h3 class="text-comment"><b class="numero">4.</b> <br> <br>Les clients et professionnels conviennent d'un rendez-vous pour la visite de devis </h3>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <i class="fas fa-hands-helping"></i>
        <h3 class="text-comment"><b class="numero" >5.</b> <br> <br>Les clients et professionnels valident le devis</h3>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <i class="fas fa-euro-sign"></i>
        <!--<i class="fas fa-rocket"></i>
        <h3 class="text-comment"><b class="numero">6.</b> <br> <br>Dés que vous verser un premier paiement le professionnel débute sa mission  </h3>
      </div>
    </div>

  </div>
</main>-->
<section>
  <div class="container-fluid" style="max-width: 1080px;">
  <div class="col-md-12">
    <div class="text-center">
      <h2 class="title-comment">
        Nos garanties<br> <!--<u color="red">de qualification</u>-->
      </h2>
      <p class="title-qualifacation">
        Comment Djingaa vous garantit de travailler avec les meilleurs <br>
        professionnels du bâtiment de l'île de la reunion
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="text-center" style="margin-top:100px;">
      <i class="fas fa-file-alt" style="font-size:200px; color:#56BDDD;"></i>
      </div>
    </div>

    <div class="col-md-6">
      <div class="text-center" style="margin-top:100px;">
        <h3>REFERENCES</h3>
        <p class="text-process" style="text-align:left;margin-top:50px;">
          Npus appellons leurs anciens clients pour vérifier 3 choses : <br>
          - La véracité du CV <br>
          - Le sérieux du professionnel<br>
          - Sa qualité de travail <br>
          Qui mieux qu'un ancien client pour nous parler des capacités
           d'un professionnel à réaliser un excellent travail ?
           </p>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="content-mission">
  <div class="container-fluid" style="max-width: 1080px;">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:100px;">
        <i class="fas fa-award" style="font-size:200px; color:#56BDDD;"></i>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center" style="margin-top:100px;">
          <h3>TESTS DE COMPETENCES</h3>
          <p class="text-process" style="text-align:left;margin-top:50px;">
            Nous évaluons  les compétences de nos professionnels pendanrt une journée
            leur donnant un travail à réaliser dans leur spécialité. <br>Ce travail noté,
             est également couplé avec un entretien
             d'une demi heure pour connaître leurs motivations.
           </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section  style="margin-bottom: 0px;">
  <div class="container-fluid" style="max-width: 1080px;margin-bottom: 100px;">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:100px;">

      <i class="far fa-star"style="font-size:200px;color:#56BDDD;"></i>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center" style="margin-top:100px;">
          <h3>EVALUATION</h3>
          <p class="text-process" style="text-align:left;margin-top:50px;">
          A la fin d'une mission, les professionnels doivent être noté par les clients. Les professionnels notent également les clients.
           </p>
        </div>
      </div>
    </div>
  </div>
</section>
