<!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="container">
        <div class="row" id="content_value">
          <div class="col-xl-9 mx-auto">
            <span class="baseline">Relaxez-vous, on recrute  pour vous</span> <br>
            <span class="baseline_next">les meilleurs pros du bâtiment </span>
            <h3 class="proposition_valeur">Des professionnels du batiments et du bricolage compétents et auditionnés<br />
              n'attandent plus que vous, pour réalisent vos travaux.
            </h3>
          </div>
            <button class="btn btn-primary btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i>Faire une demande de travaux</button>

        </div>

      </div>
    </header>
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
      </div>
    </main>
