<!-- Masthead -->
<header class="masthead text-white text-center">

  <div class="container-fluid">
    <div class="row" id="content_value">
      <div class="col-xl-9 mx-auto">
        <span class="baseline">Trouvez les experts  <br>pour vos travaux  et bricolages <br>à la Reunion<!--Relaxez-vous, <br>on recrute  pour vous</span> <br>-->
        <!--<span class="baseline_next hidden-xs">les meilleurs professionnels <br> du bâtiment à la Reunion </span>-->
        <h3 class="proposition_valeur"><!--Trouvez les experts pour vos travaux à la Reunion, <br> c’est notre métier. <br>
           Leur proposer des travaux à réaliser, c’est votre mission.-->
        </h3>
      </div>
       <%= button_to "Demandez un devis gratuit", new_estimate_path, class: "btn btn-primary btn-lg", :method => :get  %>
       <!--<h3 class="proposition_valeur">Trouvez les experts pour réaliser vos travaux  <br>à la Reunion, c’est notre métier. <br>
          Leur proposer des travaux à réaliser, c’est votre mission.
       </h3>-->
    </div>
  </div>
</header>

<div class="demo11">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="pricingTable11">
                            <img src="/icon.png" alt="" class="icon">
                            <!--<div class="pricingTable-header">
                                <i class="fa fa-adjust"></i>
                                <div class="price-value"> $10.00 <span class="month">per month</span> </div>
                            </div>-->
                            <h3 class="heading">Bricolage & rénovation</h3>
                            <!--<div class="pricing-content">
                              <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                            </div>-->
                            <div class="pricingTable-signup">
                              <a href="#">Obtenir un devis</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                              <img src="/power-cord.png" alt=""class="icon">
                              <h3 class="heading">Electricité & installation</h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                  <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>
                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                              <img src="/washingmachine.png" alt="" class="icon">
                              <h3 class="heading">electromenager & Climatisation</h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>

                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                              <img src="/swimmingpool.png" alt="" class="icon">
                              <h3 class="heading">Piscine  <br>et jardin</h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                    <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>
                    <div class="col-md-2 col-sm-6">
                          <div class="pricingTable11 red">
                            <img src="/door.png" alt="" class="icon">

                              <h3 class="heading">Serrurerie, portes et fenêtres </h3>
                              <!--<div class="pricing-content">
                                  <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                              </div>-->
                              <div class="pricingTable-signup">
                                  <a href="#">Obtenir un devis</a>
                              </div>
                          </div>
                      </div>
                  <div class="col-md-2 col-sm-6">
                        <div class="pricingTable11 red" >
                          <img src="/tap00.png" alt=""  class="icon">
                            <h3 class="heading">PLOMBERIE & CHAUFFAGE</h3>
                            <!--<div class="pricing-content">
                                <h3 class="list_tache">Fuite d'eau, baignaoire, lavabo, Robinet etc...</h3>
                            </div>-->
                            <div class="pricingTable-signup">
                                <a href="#">Obtenir un devis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section>
          <div class="container-fluid" style="max-width: 1080px;">
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="text-center" style="margin-top:100px;">
                <h3 class="how">Comment ça marche</h3>
              <ul style="display:inline">
                <li style="list-style:none;float:left;text-decoration:none">
                  <img src="/number-one.png" alt="" class="img.how" >
                </li>
                <li style="list-style:none">
                  <h4 class="text_how"> Je sélectionne une prestation et demande un devis</h4>
                </li>
              </ul>
                <%= link_to "EN SAVOIR PLUS", mode_emploi_path, class:"plus" %>
                </div>
            </div>

            <div class="col-md-offset-3 col-md-6">
              <div class="text-center" style="margin-top:100px;">
                <ul class="how-list "style="display:inline;">
                  <li style="list-style:none;float:left;text-decoration:none">  <img src="/number-two.png" alt="" class="img.how" ></li>
                  <li style="list-style:none">
                    <h4 class="text_how">Djingaa m'envoie des devis, je choisis et réserve un professionnel </h4>
                  </li>
                </ul>
              <%= link_to "EN SAVOIR PLUS", mode_emploi_path, class:"plus" %>
              </div>
            </div>

            <div class="col-md-offset-3 col-md-6">
              <div class="text-center" style="margin-top:100px;">
                <ul class="how-list">
                 <li style="list-style:none;float:left;text-decoration:none">
                 <img src="/number-three.png" alt="" class="img.how">
                 </li>
                 <li style="list-style:none">
                   <h4 class="text_how">Une fois la mission fini, je note le professionnel et il est payé.</h4>
                 </li>
                </ul>
              <%= link_to "EN SAVOIR PLUS", mode_emploi_path, class:"plus" %>
              </div>
            </div>
          </div>
          </div>
        </section>

<main role="main" class="container">
  <div class="jumbotron">
    <div class="text-center">
        <h2 class="title_main">Nos garanties</h2>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <img src="/handshake.png" alt=""  class="icon">
        <h2 class="avantage">Bricoleurs auditionnés</h2>
        <h5>Tous nos bricoleurs sont audtionnés avant leur inscription sur Djingaa.
          Un test de comptéences est également réalisé.
        </h5>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/euro.png" alt=""  class="icon">
          <h2 class="avantage">Devis et prix en ligne</h2>
          <h5>Les prix sont connus pour chaque prestation. Pas de frais supllémentaire une fois les trvaux réalisés.</h5>
      </div>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/support.png" alt=""  class="icon">
          <h2 class="avantage">Service client </h2>
          <h5>Les prix sont connus pour chaque prestation. Pas de frais supllémentaire une fois les trvaux réalisés.</h5>
      </div>
    </div>

  </div>
</main>
