<!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="container">
        <div class="row" id="content_value">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">On cherche pour vous </h1>
            <h3 class="proposition_valeur">Des professionnels du batiments et du bricolage compétents et auditionnés<br />
              pour réalisent vos travaux.
            </h3>
          </div>
            <button class="btn btn-primary btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i>Faire une demande de travaux</button>
            
        </div>
      </div>
    </header>
