<!-- Masthead -->
<header class="masthead text-white text-center">

  <div class="container-fluid">

    <div class="row" id="content_value">
      <div class="col-xl-9 mx-auto">
        <span class="baseline">Relaxez-vous, <br>on recrute  pour vous</span> <br>
        <span class="baseline_next">les meilleurs professionnels <br> du bâtiment de la Reunion </span>
        <h3 class="proposition_valeur">Trouver les experts pour vos travaux, c’est notre métier. <br>
           Leur proposer les plus beaux projets, c’est votre mission.
        </h3>
      </div>
       <%= button_to "Faire une demande de travaux", new_estimate_path, class: "btn btn-primary btn-lg", :method => :get  %>
    </div>
  </div>
</header>

<main role="main" class="container">
   <a name="mon_ancre"></a>
  <div class="jumbotron">
    <h2 class="text-center">Comment engager un professionnel ?</h2>
    <div class="col-md-3">
      <div class="text-center">
        <i class="fas fa-file-alt"></i>
        <h3 class="text-comment"> Remplissez le formulaire de travaux</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
          <i class="fas fa-search"></i>
          <h3 class="text-comment">Envois de devis de pros auditionnés et sélectionnés </h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <i class="fas fa-calendar-check"></i>
        <h3 class="text-comment">Devis valider par les deux parties</h3>
      </div>
    </div>

    <div class="col-md-3">
      <div class="text-center">
        <i class="fas fa-rocket"></i>
        <h3 class="text-comment">Paiement et début des travaux  </h3>
      </div>
    </div>

  </div>
</main>
<section>
  <div class="container-fluid" style="max-width: 1080px;">
  <div class="col-md-12">
    <div class="text-center">
      <h2 class="title-comment">
        Notre processus <br> <u color="red">de qualification</u>
      </h2>
      <p class="title-qualifacation">
        Comment Djingaa vous garantit de trvailler avec les meilleurs <br>
        professionnels du bâtiment de l'île de la reunion
      </p>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <div class="text-center" style="margin-top:100px;">
    <<i class="fas fa-file-alt" style="font-size:200px; color:#56BDDD;"></i>
    </div>
  </div>

  <div class="col-md-6">
    <div class="text-center" style="margin-top:100px;">
      <h3>REFERENCES</h3>
      <p class="text-process" style="text-align:left;margin-top:50px;">
        Tout commence par un retour sur les références et les expériences passées
        Qui de mieux qu'un ancien client pour nous parler des capacités
         d'un professionnel à réaliser un travail excellent ?
         </p>
    </div>
  </div>
  </div>
  </div>
</section>

<section class="content-mission">
  <div class="container-fluid" style="max-width: 1080px;">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center" style="margin-top:100px;">
        <i class="fas fa-award" style="font-size:200px; color:#56BDDD;"></i>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center" style="margin-top:100px;">
          <h3>EVALUTION PRE-MISSION</h3>
          <p class="text-process" style="text-align:left;margin-top:50px;">
            Vérification importante avant daccepter l'inscription de professionnels du batîment sur notre site :
            <b>la phase de tests de compétences.</b>
            Pendant une journée ou demi journée nous leur donnant un travail à réaliser dans leur spécialité <br>
           pour évaluer leur compétences.Ce travail noté est également couplé avec un entretien
         d'une demi heure pour connaître les motivations des professionnels.</p>
        </div>
      </div>
    </div>
  </div>
</section>
