@import "bootstrap-sprockets";
@import "bootstrap";
body {

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


 .navbar-default .navbar-brand {
    margin-left: -15px;
    font-size: 40px;
    color: black;
    font-weight: 800;

}

.navbar {
    position: fixed;
    min-height: 60px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #19a197;
    border-color: #19a197;
}
.col-xl-9.mx-auto
{
  font-size: 50px;
  line-height: 50px;
}
span.baseline
{

    color: #FAF607;
    font-weight: 500;
}
span.baseline_next
{
    font-weight: 500;
    color: #fff;
}

h5.nav_aide
{
  color: black;
  font-size: 23px;
  font-weight: 300;
  margin-right: 15px;
}
header.masthead {
  position:relative;
  background-color: #343a40;
  background: url("/bricoleur.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 40px;
  padding-bottom: 8rem;
  height: 800px;

}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
#content_value
{
    margin-top: 80px;
}
h3.proposition_valeur
{
  color: #fff;
  margin-top: 60px;
  font-weight: 300;
  font-family: OpenSans-Light;
}
#nav.btn.btn-primary
{
  height: 50px;
}
h5.aide
{
  color: black;
  font-size: 23px;
  font-weight: bold;
}


@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 50px;

  }
}
.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px)

{
  .col-xl-9.mx-auto
  {
    margin-top: 100px;
  }

}
@media (min-width: 576px) and (max-width: 767px)
{
  .col-xl-9.mx-auto
  {
    margin-top: 200px;
    }
    h3.proposition_valeur
    {
      color: #fff;
      margin-top: 30px;
      font-weight: 300;
    }
}
@media (min-width: 475px) and (max-width: 576px)
{
  .col-xl-9.mx-auto
  {
    margin-top: 200px;
    }
    h3.proposition_valeur
    {
      color: #fff;
      margin-top: 30px;
      font-weight: 300;
      margin-left: 15px;
      margin-right: 15px;
    }
}
@media (max-width: 475px)
{
  .col-xl-9.mx-auto
  {
    margin-top: 180px;
    }
}
.link_about
{
    font-size: 18px;
    color: black;
}
