@import "bootstrap-sprockets";
@import "bootstrap";
/*body {

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/
.row
{
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-brand
 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  font-family: 'Ubuntu', sans-serif;
  background: #fff;
  }
.navbar-default .navbar-brand:hover
{
    color: #00293C;

}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    background-image: none;
    border: black;
    border-radius: 4px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-top: 10px;
}
/*dropdown*/
navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color:#1E656D;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
i.fas.fa-phone-volume
{
    color: red;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #00293C;
    font-size: 18px;
    white-space: nowrap;
    font-family: 'Source Sans Pro', sans-serif;
}
/*dropdown*/
.navbar {
    position: fixed;
    min-height: 60px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*background-color: #19a197;
    border-color: #19a197;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
}
.navbar-default .navbar-nav > li > a
{
    color: #00293C;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn-danger{

    font-size: 23px;
    line-height: 1.3333333;
    border-radius: 6px;
    height: 40px!important;
    background-color: #fff;
    border-color: #00293C;
    margin-top: 2px;
    border: 2px solid #F62A00;
    color: #00293C;
    font-size: 15px;
}
.btn-danger:hover {

    font-size: 23px;
    line-height: 1.3333333;
    border-radius: 6px;
    height: 40px!important;
    background-color: #fff;
    border-color: #00293C;
    border: 2px solid #F62A00;
    margin-top: 2px;
    color: #00293C;
    font-size: 15px;
}
.col-xl-9.mx-auto
{
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
}
.drapeau
{
    height: 35px;
    width: 35px;
    margin-top: 10px;
}
span.baseline
{
  font-size: 70px;
  color: #FAF607
}
span.baseline_next
{
    font-size:70px;
    color: #fff;
}
b.numero
{
    color: #F62A00;
    font-size: 23px;
}
h5.nav_aide
{
  color: black;
  font-size: 23px;
  font-weight: 300;
  margin-right: 15px;
}
header.masthead {
  position:relative;
  background-color: #343a40;
  background: url("/professionnelsreunion.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 30px;
  padding-bottom: 8rem;
  height: 510px;

}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}
#content_value
{
    margin-top: 80px;
}
h3.proposition_valeur
{
    color: #fff;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight:bolder;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.btn-default
{
    background: #F62A00!important;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-top: 50px;
    /* text-transform: uppercase; */
    transition: all 0.3s ease 0s;
}
.btn-default:hover
{
    background-color: #00293C!important;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;

    margin-top: 50px;
    /* text-transform: uppercase; */
    transition: all 0.3s ease 0s;
}
.btn-primary
{
    padding: 10px 16px;
    font-size: 23px;
    line-height: 1.3333333;
    border-radius: 3px;
    height: 50px;
    background-color: #F62A00;
    border-color: #F62A00;
    font-family: 'Roboto', sans-serif;
}
.btn-primary:hover
{
    padding: 10px 16px;
    font-size: 23px;
    line-height: 1.3333333;
    border-radius: 3px;
    height: 50px;
    background-color: #00293C;
    border-color: #00293C;
      color:#FFFFFF;
      font-family: 'Roboto', sans-serif;
}
h5.aide
{
  color: black;
  font-size: 23px;
  font-weight: bold;
}
@media screen and (min-width: 2000px) {
  .navbar-default .navbar-brand {
    font-size: 50px;
      color: #19a197;
    font-weight: 800;
  }
  header.masthead {
    position:relative;
    background-color: #343a40;
    background: url("/professionnelsreunion.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 40px;
    padding-bottom: 8rem;
    height: 700px;

  }
  .col-xl-9.mx-auto
  {
    margin-top: 150px;
    line-height: 50px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 50px;
    color: #FAF607;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      letter-spacing: 5px;
  }
}
@media screen and (min-width: 1400px) {
  .navbar-default .navbar-brand {
    font-size: 50px;
    color: #19a197;
    font-weight: 800;
  }
  header.masthead {
    position:relative;
    background-color: #343a40;
    background: url("/professionnelsreunion.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 70px;
    padding-bottom: 8rem;
    height: 510px;

  }
  .col-xl-9.mx-auto
  {
    margin-top: 100px;
    line-height: 50px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 50px;
    color: #FAF607;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      letter-spacing: 5px;
  }
}
@media screen and (min-width: 1600px) {
  .navbar-default .navbar-brand {
    font-size: 50px;
    color: #19a197;
    font-weight: 800;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 150px;
    line-height: 50px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 50px;
    color: #FAF607;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      letter-spacing: 5px;
  }
}
@media screen and (min-width: 1900px) {
  .navbar-default .navbar-brand {
    font-size: 50px;
      color: #19a197;
    font-weight: 800;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 150px;
    line-height: 50px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 50px;
    color: #FAF607;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      letter-spacing: 5px;
  }
}
@media (min-width:1300px)
{
  .navbar-default .navbar-brand {
    font-size: 50px;
      color: #19a197;
    font-weight: 800;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 150px;
    line-height: 50px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 50px;
    color: #FAF607;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      letter-spacing: 5px;
  }
}
@media (min-width: 1200px) {

  .navbar-default .navbar-brand {
    font-size: 50px;
    color: #19a197;
    font-weight: 800;
  }

  .col-xl-9.mx-auto
  {
    margin-top: 120px;
    line-height: 35px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 5px;
  }
}

@media (min-width: 991px) and (max-width: 1200px)
{
  .navbar-default .navbar-brand {
    font-size: 50px;
      color: #19a197;
    font-weight: 800;

  }
  header.masthead{
    margin-top: 80px;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 100px;
    line-height: 30px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px)

{
  header.masthead{
    margin-top: 80px;
  }
  .navbar-default .navbar-brand {
    font-size: 40px;
    color: #19a197;
    font-weight: 800;

  }
  .col-xl-9.mx-auto
  {
    margin-top: 100px;
    line-height: 40px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
  }
  span.baseline_next
  {
      font-size:50px;
      color: #fff;
      letter-spacing: 5px;
      font-family: 'Roboto', sans-serif;
  }

}
@media (max-width: 1200px)
{
  .navbar-header {
                float: none;
        }
        .navbar-toggle {
                display: block;
        }
        .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
                display: none!important;
        }
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .navbar-nav {
                float: left!important;
                margin: 7.5px -15px;
        }
        .navbar-nav>li {
                float: none;
        }
        .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
        }
}
@media (min-width: 576px) and (max-width: 767px)
{
  .navbar-default .navbar-brand {
    font-size: 50px;
    color: #19a197;
    font-weight: 800;

  }
  header.masthead{
    margin-top: 40px;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 130px;
    line-height: 30px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
  }
  span.baseline_next
  {
      font-size:40px;
      color: #fff;
      letter-spacing: 5px;
      font-family: 'Roboto', sans-serif;
  }
    h3.proposition_valeur
    {
      color: #fff;
      margin-top: 30px;
      font-weight: 300;
    }
}
@media (min-width: 475px) and (max-width: 576px)
{
  .navbar-default .navbar-brand {
    font-size: 40px;
      color: #19a197;
    font-weight: 800;

  }
header.masthead{
  margin-top: 50px;
}

  h3.proposition_valeur
  {
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
    margin-left: 15px;
    margin-right: 15px;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 100px;
    line-height: 32px;
    font-weight: 800;
  }
  span.baseline
  {
    font-size: 40px!important;
    color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
  }
  span.baseline_next
  {
      font-size:40px;
      color: #fff;
    font-family: 'Roboto', sans-serif;
      letter-spacing: 5px;
  }
}
@media (max-width: 475px)
{
    .navbar-default .navbar-brand {
      font-size: 40px;
      color: #86A1CC;
      font-weight: 800;

    }
  header.masthead{
    margin-top: 5px;
  }
  .col-xl-9.mx-auto
  {
    margin-top: 30px;
    }
    h3.proposition_valeur
    {
      color: #fff;
      margin-top: 30px;
      font-weight: 300;
      margin-left: 15px;
      margin-right: 15px;
    }
    .col-xl-9.mx-auto
    {
      margin-top: 140px;
      line-height: 25px;
      font-weight: 800;
    }
    span.baseline
    {
      font-size: 35px!important;
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 5px;
    }
    span.baseline_next
    {
        font-size:40px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 5px;
    }
}
a.link_about:hover
{
    font-size: 18px;
    color: #00293C;
}
/* card page welcome */
/******************* Pricing Table Demo - 11 *****************/
.demo11
{
    background:#FFFFFF;
    padding:30px 0;
    padding-top:100px;
}
img.icon
{
    height: 60px;
    width: 60px;
}
.pricingTable11
{
    text-align:center;background:#F1F3CE;
    margin:0 -10px;
    padding-bottom:40px;
    padding-top: 40px;
    border-radius:10px;
    color:#black;
    font-size: 18px;
    transform:scale(1);
    transition:all .5s ease 0s
}
h3.heading
{
    color:#00293C!important;
    font-size: 16px!important;
    font-family: 'Roboto', sans-serif;
}
h3.list_tache
{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.pricingTable11:hover
{
    transform:scale(1.05);z-index:1
}
.pricingTable11 .pricingTable-header
{
    padding:40px 0;background:#f5f6f9;
    border-radius:10px 10px 50% 50%;
    transition:all .5s ease 0s
}
.pricingTable11:hover .pricingTable-header
{
    background:#ff9624;
}
.pricingTable11 .pricingTable-header i
{
    font-size:50px;
    color:black;
    margin-bottom:10px;
    transition:all .5s ease 0s
}
.pricingTable11 .price-value
{
    font-size:35px;
    color:#00293C;
    transition:all .5s ease 0s
}
.pricingTable11 .month
{
    display:block;
    font-size:14px;
    color:black;
}
.pricingTable11:hover .month,.pricingTable11:hover .price-value,
.pricingTable11:hover .pricingTable-header i
{
    color:#fff
}
.pricingTable11 .heading
{
    font-size:18px;
    color:#00293C ;
    margin-bottom:20px;
    text-transform:uppercase
}
.pricingTable11 .pricing-content ul
{
    list-style:none;
    padding:0;
    margin-bottom:30px;
}
.pricingTable11 .pricing-content ul li
{
    line-height:30px;
    color:#a7a8aa;
}
.pricingTable11 {
    min-height: 305px!important;
    text-align: center;
    background: #DCDCDC;
    margin: 0 -10px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    color: #black;
    font-size: 18px;
    transform: scale(1);
    transition: all 0.5s ease 0s;
}
.pricingTable11 .pricingTable-signup a
{
    display:inline-block;
    font-size:15px;
    color:#fff;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:3px;
    background:#ffa442;
    margin-top: 40px;
    /*text-transform:uppercase;*/transition:all .3s ease 0s
}
.pricingTable11 .pricingTable-signup a:hover
{
    box-shadow:0 0 10px #ffa442;
}
.pricingTable11.blue .heading,.pricingTable11.blue .price-value
{
    color:#4b64ff;
}
.pricingTable11.blue .pricingTable-signup a,
.pricingTable11.blue:hover .pricingTable-header
{
    background:#4b64ff;
}
.pricingTable11.blue .pricingTable-signup a:hover
{
    box-shadow:0 0 10px #4b64ff;
}
.pricingTable11.red .heading,.pricingTable11.red .price-value
{
    color:#ff4b4b;
}
.pricingTable11.red .pricingTable-signup a,.pricingTable11.red:hover
.pricingTable-header
{
    background:#ff4b4b;
}
.pricingTable.red .pricingTable-signup a:hover
{
    box-shadow:0 0 10px #ff4b4b;
}
.pricingTable11.green .heading,.pricingTable11.green
 .price-value
{
    color:#40c952;
}
.pricingTable11.green .pricingTable-signup a,.pricingTable11.green:hover
.pricingTable-header
{
    background:#40c952;
}
.pricingTable11.green .pricingTable-signup
a:hover
{
    box-shadow:0 0 10px #40c952;
}
.pricingTable11.blue:hover .price-value,.pricingTable11.green:hover
.price-value,.pricingTable11.red:hover .price-value
{
    color:#fff;
}
@media screen and (max-width:990px)
{
    .pricingTable11{margin:0 0 20px}
}
/*@media (min-width: 992px)
 {.col-md-2 {
    width: 20%;
}}
/*fin ward */
main.container
{

    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
}
.jumbotron
{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif!important;
    padding-top: 10px;
}
h2.avantage
{
    font-family: 'Roboto', sans-serif!important;
    color: #00293C;
    font-size: 23px;
    margin-bottom: 20px;
}
section
{
    background: #DCDCDC;
    padding-bottom: 120px;
}
h3.how
{
    font-family: 'Roboto', sans-serif;
    color:#00293C;
    font-size: 40px;
    margin-bottom: 70px;
}
h4.text_how
{
  font-family: 'Roboto', sans-serif;
  color:#00293C;
  font-size: 23px;
}
section.content-mission
{
    margin-bottom: 100px;
    background: #fff;
}
a.plus
{
    color: #F62A00;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
img.img.how
{
    float:left;
    padding-left: -30px;
}
ul.how-list
{
    padding-left: 0px!important;
}
h2.title-comment
{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
h2.title_main

{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}
p.text-process
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
p.title-qualifacation
{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
u
{
    color: #56BDDD;
}

/*footer */

/*footer*/
.col_white_amrc
{
    color:#FFF;
}
footer
{
    width:100%;
    background-color:#00293C;
    min-height:250px;
    padding:10px 0px 25px 0px ;
}
.pt2
{
    padding-top:40px ;
    margin-bottom:20px ;
}
footer p
{
    font-size:13px;
    color:#CCC;
    padding-bottom:0px;
    margin-bottom:8px;
}
.mb10
{
    padding-bottom:15px ;
}
.footer_ul_amrc
{
    margin:0px ;
    list-style-type:none ;
    font-size:14px;
    padding:0px 0px 10px 0px ;
}
.footer_ul_amrc li
{
    padding:0px 0px 5px 0px;
}
.footer_ul_amrc li a
{
    color:#CCC;
}
.footer_ul_amrc li a:hover
{
    color:#fff; text-decoration:none;
}
.fleft
{
    float:left;
}
.padding-right
{
    padding-right:10px;
}

.footer_ul2_amrc
{
    margin:0px;
    list-style-type:none;
    padding:0px;
}
.footer_ul2_amrc li p
{
    display:table;
}
.footer_ul2_amrc li a:hover
{
    text-decoration:none;
}
.footer_ul2_amrc li i
{
    margin-top:5px;
}

.bottom_border
{
    border-bottom:1px solid #323f45;
    padding-bottom:20px;
}
.foote_bottom_ul_amrc
{
	  list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li
{
    display:inline;
}
.foote_bottom_ul_amrc li a
{
    color:#999; margin:0 12px;
}

.social_footer_ul
{
    display:table; margin:15px auto 0 auto;
    list-style-type:none;
}
.social_footer_ul li
{
    padding-left:20px;
    padding-top:10px;
    float:left;
}
.social_footer_ul li a
{
    color:#CCC;
    border:1px solid #CCC;
    padding:8px;border-radius:50%;
}
.social_footer_ul li i
{
    width:20px;
    height:20px;
    text-align:center;
}
/*Page  about */
article
 {
   background-image: url(/professionnelsreunion.png);
   width: 100%;
   background-size: cover;
   background-repeat:no-repeat;
   background-size: 100% ;

 }
 #banner {
    position: relative;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 85vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    z-index: 199;

}
h4.mentions
{
    font-weight: 300;
}
/*page mode emploi*/
h1.title_mode
{
    font-family: 'Roboto', sans-serif;
    color: #F62A00;
    font-size: 50px;
    margin-top: 150px;
}
h3.title_engagerunpro
{

    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #00293C;
}
#myImg.container-fluid {
  background-color: #DCDCDC;
  background-size: cover;
  padding-bottom: 60px;
}
h4.sous-text
{
  font-family: 'Roboto', sans-serif;
  color: #00293C;
}
h3.text-desc-how
{
  font-family: 'Roboto', sans-serif;
  color: #00293C;
  font-size: 18px;
  font-weight: lighter;
}
h3.title_faq
{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
    margin-bottom: 50px;
}
/*page faq*/
.panel-group
{
    margin-bottom: 100px;
}
/*page solutions entreprise  */
aside
{
    margin-top: 150px;
    margin-bottom: 100px;
}
h1.title-pro
{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #1E656D;
    margin-bottom: 0px;
}
h3.sous-titre-pro
{
    color: #00293C;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}
h4.list-tache
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
}
p.content-pro
{
    color: #00293C;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 60px;
}
/*page solutions entreprise fin */
/*page inscription pro */
h3.proposition_valeur_brico
{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
section.pricing
{
    margin-top: 100px;
    background: #007bff;
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 1.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {


  font-weight: bold;
  padding: 1rem;

}
.pricing .btn:hover
{
  background-color: #00293C;
  border-color: #00293C;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 1rem;

}
/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
h3.text-title-offre
{
    font-weight: bold;
    font-size: 34px;
    line-height: 1.4;
    color: #00293C;
    font-family: 'Roboto', sans-serif;
}
h3.offre
{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #888d92;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}
input.btn.btn-primary.text
{
    margin-bottom: 10px!important;
    padding-left: 30px;padding-right: 30px;
    background-color: #F62A00;
    border-color: #F62A00;
    font-family: 'Roboto', sans-serif;
}
h3.content.about
{
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;
    text-align: justify;
    font-size: 94px;
}
#banner {
    position: relative;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 55vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    z-index: 199;
}
.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50;
    background-color: rgba( 16, 15, 15, 0.35);
    z-index: 1;
}
h1.jumbotron-heading
{
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 100px;
		margin-left: 15px;
		margin-right: 15px;
		font-family: 'Roboto', sans-serif;
		text-align: center!important;
		font-weight: bold;
}
header {
	 background-image: url("/tools.jpg");
	 height: 700px;
   width: 100%;
	 background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
li.card-pay
{
   font-family: 'Roboto', sans-serif;
   font-size:18px;
}
