@import "bootstrap-sprockets";
@import "bootstrap";
body {

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

 .navbar-default .navbar-brand {
    margin-left: -15px;
    font-size: 40px;
    color: black;
    font-weight: 800;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0px;
}
header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("/bricoleur.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-bottom: 8rem;
  height: 700px;;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  width: 100%;
  top: 0;
  left: 0;

}
h3.proposition_valeur
{
  color: #fff;
  margin-top: 60px;
  font-weight: 300;
}
h5.aide
{
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
header.masthead h1 {
  font-size: 100px;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 70px;
    color: white;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}
