<body style="width: 100%;
  height: 100%;
  background-image: url('/bricolage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
<div class="row">
  <div class="col-lg-4 col-md-offset-4" style="margin-top:150px; margin-bottom:100px;" id="zone_sign_client">
    <div class="text-center">
      <h3 class="text-pre-sign">Réinitialiser le mot de passe <br>
Saisissez l'adresse e-mail associée à votre compte. Nous vous enverrons un lien par e-mail pour réinitialiser votre mot de passe.</h3>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label for="">Adresse mail</label><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control"%>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Envoyez le lien de réinitialisation" ,class: "btn btn-primary btn-lg  btn-block" %>
  </div>
<% end %>

  </div>
  </div>
  </body>
